html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit; 
  }

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
  }

  #page1{
    height: 100%;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #page2{
    height: 100%;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #page3{
    height: 100%;
    width: 100%;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #box{
    height: 300px;
    width: 300px;
    background-color: purple;
  }

  #box2{
    height: 300px;
    width: 300px;
    background-color: crimson;
  }
  #box3{
    height: 300px;
    width: 300px;
    background-color: skyblue;
  }